body {
    font-family: "Montserrat";
  }
  #title {
    background-color: rgb(175, 207, 194);
    color: white;
  }
  
  .container-fluid {
    padding: 3% 15% 7%;
  }
  .navbar-brand {
    font-family: "ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
  }
  .nav {
    padding: 0 0 3.5rem;
  }
  .nav-item {
    padding: 0 18px;
  }
  .nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat-light";
  }
  .download-button {
    margin: 5% 3% 5% 0;
  }
  .image {
    height: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 10%;
  }
  #features {
    padding: 5% 15%;
    font-weight: 2rem;
    background-color: white;
    position: relative;
    z-index: 1;
  }
  .box {
    text-align: center;
    padding: 5%;
  }
  p {
    color: #8f8f8f;
  }
  .icon {
    margin-bottom: 1rem;
  }
  .icon:hover {
    color: rgb(175, 207, 194);
  }
  #test {
    text-align: center;
    background-color: rgb(175, 207, 194);
    color: white;
    font-size: larger;
  }
  .test.h2 {
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
  }
  .testimg {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
  }
  #press {
    text-align: center;
    padding-bottom: 3%;
    background-color: rgb(175, 207, 194);
  }
  .logo {
    margin: 20px 20px 50px;
  }
  .carousel-item {
    padding: 7% 15%;
  }
  #price {
    text-align: center;
    color: black;
  }
  .card {
    margin: 5%;
  }
  .div1 {
    padding-top: 5%;
  }
  #cta {
    background-color: rgb(175, 207, 194);
    color: white;
    text-align: center;
    padding: 7% 15%;
  }
  footer {
    text-align: center;
    padding: 7% 15%;
  }
  .socio {
    margin: 5%;
  }
  @media screen and (max-width: 1028px) {
    .image {
      height: 60%;
      transform: rotate(0deg);
      position: relative;
      margin-top: 10%;
      margin-bottom: 5%;
      margin-left: 20%;
    }
      
  .container-fluid {
    text-align: center;
  }
    #features {
      padding: 5% 15%;
      font-weight: 2rem;
      background-color: white;
    }
  }
  